

p:nth-child(odd) {
    background-color:pink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#number-2 {
    font-size: 36px;
    color: blue;
  }
  #number-4 {
    font-size: 36px;
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
  }
  p